<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body>

<div class="container">
  <div class="col-md-8">
    <div class="row">
      <% if @user.nil? then %>
      <% else  %>
          <h1>  <%= link_to(@user.name, @user) %></h1>
          <div class="img-circle">
            <%= image_tag	@user.image  %>
          </div>
      <%  end %>
      <p >buscó:</p>
      <h1><%= if @location.name.nil? then else link_to(@location.name, @location) end %></h1>
      <h2><%=	Location.where('updated_at > ?' , Date.yesterday.to_time.in_time_zone("Central Time (US & Canada)") ).all.count  %>---  Locations  </h2>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
    </div>
  </div>

</div>


</body>
</html>