<li>
  <span class="content"><%= event.nombre %></span>
  <span class="timestamp">
    Creado <%= time_ago_in_words(event.created_at) %> ago.
  </span>
  <% if current_user?(event.user) %>
    <%= link_to "delete", event, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: event.nombre %>
  <% end %>
</li>