<p>Hola <%= @resource.email %>!</p>

<p>Has pedido cambiar tu password. Lo puedes hacer a través del siguiente link.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no has hecho tu la petición, por favor ignora este mail.</p>
<p>Tu password no cambiará hasta que lo hagas a través del link.</p>
