<div class="container" style="margin-top: 50px">
  <div class="row">

    <h1>Términos y Condiciones</h1>
    <hr/>
<p>
  Términos y Condiciones
  Uso de la información que recopila NTL

  NTL recopila el tipo de información que se indica a continuación.

  · Información que proporciona el usuario: al registrarse para obtener una cuenta de NTL, el solicitante debe proporcionar información personal. Es posible que combinemos los datos que nos proporciona el usuario a través de su cuenta con la información procedente de otros servicios de Google, Facebook o  de terceros para ofrecerle una óptima experiencia y mejorar la calidad de nuestros servicios. El administrador tendrá acceso a la información de su cuenta.

  · Cookies: al acceder a NTL, se envían una o varias cookies a su equipo o a otro dispositivo. Las cookies se utilizan para mejorar la calidad del servicio, incluidos el almacenamiento de las preferencias del usuario, la mejora de los resultados de búsqueda y de la selección de anuncios.

  · Información de registro: cuando el usuario accede a los servicios de NTL a través de un navegador, una aplicación u otro cliente, nuestros servidores registran automáticamente cierta información. Estos registros de servidor pueden incluir cierta información como la solicitud web, la interacción con un servicio, la dirección IP, el tipo y el idioma del navegador, la fecha y la hora de la solicitud y una o varias cookies que permiten una identificación exclusiva del navegador o de la cuenta.

  · Datos de ubicación: NTL ofrece servicios que tienen registrada la ubicación del usuario, como Google Maps y Check in. Si se utilizan estos servicios, NTL puede recibir información sobre la ubicación real del usuario (por ejemplo, señales de GPS enviadas a través de un dispositivo móvil) o información que se podría utilizar para determinar su ubicación aproximada (por ejemplo, el ID de célula).

  · Otros sitios: esta Política de privacidad se aplica únicamente a los servicios de NTL. NTL no ejerce ningún control sobre los sitios que aparecen en los resultados de búsqueda, ni los enlaces incluidos en sus servicios. Es posible que estos otros sitios envíen sus propias cookies u otros archivos al equipo del usuario, recopilen datos o soliciten el envío de información personal.

  Además de lo indicado anteriormente, NTL puede utilizar la información que recopila con los siguientes fines:

  · proporcionar, mantener, proteger y mejorar sus servicios (incluidos los servicios publicitarios) y desarrollar nuevos servicios,

  · proteger los derechos o la propiedad de NTL o de los usuarios.

  Si esta información se va a utilizar con fines distintos al objetivo para el que se ha recopilado, se solicitará el consentimiento previo del usuario.

  NTL procesa la información personal en los servidores de México. En algunos casos, la información personal se procesa fuera del país del usuario.

  Opciones

  La mayoría de los navegadores están configurados para aceptar cookies, pero se pueden volver a configurar para rechazar todas las cookies o para que el sistema avise cuando se envíe una cookie. Sin embargo, si las cookies no están habilitadas, es posible que algunos servicios y funciones de NTL no funcionen correctamente.

  Información compartida

  En NTL únicamente facilitamos información personal a otras empresas o particulares que no tienen relación con NTL en las siguientes circunstancias:

  · Si disponemos del consentimiento del usuario. Necesitamos el consentimiento del usuario para facilitar cualquier tipo de información confidencial.

  · Si debemos facilitar dicha información a nuestras empresas subsidiarias y filiales o a otras empresas o personas de confianza para que la procesen en nuestro nombre. Necesitamos que estas entidades procesen dicha información siguiendo nuestras instrucciones y lo estipulado en esta Política de privacidad, así como las medidas de confidencialidad y de seguridad oportunas.

  · Si consideramos de buena fe que el uso, la conservación o la divulgación de esta información o el acceso a la misma es razonablemente necesario para (a) cumplir las leyes, las regulaciones, los procesos legales o las exigencias gubernamentales vigentes; (b) aplicar las correspondientes Condiciones del servicio, incluida la investigación de posibles infracciones de dichas Condiciones; (c) detectar, evitar o tratar problemas técnicos, de fraude o de seguridad; o (d) proteger contra posibles daños los derechos, la propiedad o la seguridad de NTL, de los usuarios o del público de la forma establecida o permitida por la ley.

  Si NTL participa en una transacción de fusión o de adquisición o en cualquier forma de venta de algunos de sus activos o de todos ellos, nos aseguraremos de mantener la confidencialidad de la información personal incluida en dichas transacciones y publicaremos un aviso antes de que se efectúe la transferencia de la información personal y de que esta pase a estar sujeta a otra política de privacidad.

  Seguridad de la información

  NTL adopta las medidas de seguridad necesarias para garantizar la protección del usuario frente a operaciones no autorizadas de modificación, divulgación y destrucción de sus datos o acceso no autorizado a los mismos. Estas medidas incluyen revisiones internas de las prácticas de recopilación, almacenamiento y procesamiento de datos y de las medidas de seguridad, incluidas medidas de seguridad física y de encriptación necesarias para garantizar la protección del usuario frente al acceso no autorizado a los sistemas en los que se almacena la información personal.

  Permitimos el acceso a la información personal a los empleados, a los contratistas y a los agentes de NTL que necesitan conocer esa información para poder trabajar en nombre de la empresa. Estos individuos están sometidos a obligaciones de confidencialidad y pueden estar sujetos a las condiciones disciplinarias pertinentes, incluidos el despido y la acción penal en caso de no cumplir dichas obligaciones.

  Modificaciones de esta Política de privacidad

  Tenga en cuenta que esta Política de privacidad se podrá modificar según se considere oportuno. No limitaremos sus derechos en virtud de esta Política de privacidad sin su consentimiento explícito. Publicaremos todas las modificaciones de la Política de privacidad en nuestro sitio y, si son significativas, informaremos de ello a través de un aviso destacado (por ejemplo, mediante una notificación por correo electrónico si los cambios afectan a determinados servicios). Además, archivaremos las versiones anterioresde esta Política de privacidad para que los usuarios
</p>
  </div>
</div>

