<div class="row alert alert-dismissible fade in" role="alert" style="padding: 5px; margin: 0px; text-align: center; vertical-align: middle">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span style="margin-right: 100px; margin-top: 10px" aria-hidden="true">Cerrar x
      </span>
  </button>
  <h4 class="col-md-offset-3 col-md-2"  style="margin-top: 8px;" > <%=	t("header.app")  %></h4>
  <a class="col-md-2" href="https://itunes.apple.com/us/app/notelimites/id1226054884?mt=8" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain; margin-right: 10px"></a>
  <a class="col-md-2" href="http://play.google.com/store/apps/details?id=com.burocreativo.notelimites&hl=es>" style="display:inline-block;overflow:hidden;background:url(https://s3.amazonaws.com/notelimites/D90D94331E54D2005CC8CEE352FF98ECF639.png) no-repeat;width:135px;height:40px;background-size:contain;"></a>
</div>