<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html>
<head>
  <%=	 render "layouts/header" %>
</head>
<body>
<%=	 render "layouts/bodyapp" %>
</body>
<footer>
<%=	 render "layouts/footer" %>
</footer>
</html>